[Unit]
Description=Set xenomai_gid at boot

[Service]
Type=oneshot
ExecStart=/bin/bash /usr/sbin/set_xenomai_gid

[Install]
WantedBy=multi-user.target
